@*@{ ViewData["Title"] = "Homeeeee Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ahhh Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Hace clic <a asp-action="AgregarCartaForm">aca</a> </p>
</div>*@

@model PlantillaMVC.Web.Models.AgregarCarta
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <a asp-controller="Carta" asp-action="Index">Cartas</a>
</body>
</html>